streamlit==1.38.0
pillow==10.4.0
opencv-python-headless==4.10.0.84
numpy==1.26.4
transformers==4.44.2
langchain==0.3.0
langchain-groq==0.2.0
torch==2.4.1+cpu -f https://download.pytorch.org/whl/cpu/torch_stable.html
torchvision==0.19.1+cpu -f https://download.pytorch.org/whl/cpu/torch_stable.html
fpdf2==2.7.9
matplotlib==3.9.2
pandas==2.2.2
scikit-learn==1.5.1
seaborn==0.13.2
lime==0.2.0.1
captum==0.7.0
python-dotenv==1.0.1
